body{

    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    overflow-x: hidden;
    
}

.bg-img{

    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.netflix-bg{

    width: 100%;
    height: 100vh;
    transform: scale(1);
}

.tint{

    background-color: rgba(0, 0, 0, 0.225);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(7deg, rgba(0, 0, 0, 0.8500) 10.00%, rgba(0, 0, 0, 0.8465) 17.25%, rgba(0, 0, 0, 0.8361) 24.50%, rgba(0, 0, 0, 0.8187) 31.75%, rgba(0, 0, 0, 0.7944) 39.00%, rgba(0, 0, 0, 0.7632) 46.25%, rgba(0, 0, 0, 0.7250) 53.50%, rgba(0, 0, 0, 0.6868) 60.75%, rgba(0, 0, 0, 0.6556) 68.00%, rgba(0, 0, 0, 0.6312) 75.25%, rgba(0, 0, 0, 0.6139) 82.50%, rgba(0, 0, 0, 0.6035) 89.75%, rgba(0, 0, 0, 0.6000) 97.00%);
}

.content{

    color: white;
    position: absolute;
    top: 0;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.nav{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.logo
{
    color: red;
}

.nav-flex{

    display: flex;
    gap: 10px;
}

.signup-btn{

    padding: 8px 16px;
    background-color: rgba(255, 0, 0, 0.804);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.locale-btn{

    padding: 6px 16px;
    background-color: #0000006e;
    color: white;
    border: none;
    border: 1px solid #eeeeee6d;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    gap: 5px;

}

.title{

    font-size: 50px;
    text-align: center;

}

.start{

    width: 200px;
    padding: 11px;
    background-color:rgba(255, 0, 0, 0.804) ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-flex{

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.input{

    padding: 18px;
    width: 380px;
    background-color: rgba(0, 0, 0, 0.321);
    border: none;
    border: 1px solid rgba(211, 211, 211, 0.454);
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.sub-title{

    font-size: 20px;
}

.desc{

    font-size: 17px;
}

.mt{

    margin-top: 5px;

}


.heading, .heading1{

    color: white;
    margin-left: 200px;
    
}


.card1{

    width: 300px;
    transition: transform .2s;
}

.card1:hover{

    transform: scale(1.1);
}

.movie-box{

    display: flex;
    gap: 35px;
    border-radius: 10px;
    width: 100%;  
    margin-left: 200px;
    overflow-x: scroll;
}


.img-box{

    border-radius: 15px;
}

.card-num{

    width: 300px;
}


.heading1{

    margin-top: 70px;
 
}

.card2{

    width: 250px;
    height: 270px;
    color: white;
    /* border: 1px solid lightgray; */
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(135deg, #141424, #260539);
}




.more-resaon-2join{

    display: flex;
    gap: 20px;
}

.section1, .section3{

    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}


.card3{

    width: 1140px;
    background-color: rgb(36, 35, 35);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    font-size: larger;
    
}

.card3:hover{

    background-color: rgba(220, 220, 220, 0.352);
}

.section4{

    margin-top: 70px;
    color: white;
    text-align: center;
}

.content-flex1{

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.input1{

    padding: 18px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.321);
    border: none;
    border: 1px solid rgba(211, 211, 211, 0.454);
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.footer-contact{
    
    width: 700px;
    margin-left: 200px;
    margin-top: 50px;
}

.footer-contact, a{

    color: #999;
}


/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: black;
    margin-left: -500px;
  }
  
  .footer-column {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-column a {
    color: #999;
    margin-bottom: 10px;
    font-size: 14px;
  }

.footer-btn{

    margin-top: 50px;
    margin-left: 200px;
    padding: 6px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-weight: bold;
    display: flex;
    gap: 7px;
    align-items: center;
}
  
.footer-Netflix{

    margin-top: 35px;
    color:#999;
    margin-left: 200px;
    margin-bottom: 100px;
}
 




  
 
